html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(to bottom, #2e026d, #15162c); */
  background: linear-gradient(180deg, #429EA6, #153B50);
  /* background: linear-gradient(180deg, #153B50, #429EA6); */
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

