.home_container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
  margin-left: 100px;
}

.headline > h1{
  font-size: 4em;
  width: fit-content !important;
}

.headline > h4{
  font-size: 2em;
  text-decoration: underline;
}

.headline > span{
  font-size: 1.5em;
}

.headline > *{
  margin: 10px;
}

.feature_info{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em !important;
}

.features{
  width: fit-content;
}

.headline > button{
  border: 1px solid #4242B6;
  background: #4242B6;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.headline > button:hover{
  cursor: pointer;
  background: #7f7cca;
  border: 1px solid #7f7cca;
}

@media(max-width: 1623px){

  .headline{
    margin: 0;
  }

  .home_image{
    display: none;
  }
}

@media(max-width: 523px){

  .headline{
    align-items: center !important;
    justify-content: center !important;
  }

  .headline > h1 {
    text-align: center;
  }

  .headline > span{
    text-align: center;
  }

  .home_container{
    /* width: 50vw; */
    /* margin: auto; */
  }
}