@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.support_container{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support_container > h1{
    border-bottom: 2px dotted white;
    font-size: 3.5em;
}

.anchor{
    border: 1px solid #4242B6;
    color: white;
    background: #4242B6;
    text-decoration: none !important;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
    font-size: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.anchor:hover{
    cursor: pointer;
    background: #7f7cca;
    border: 1px solid #7f7cca;
}

.support_container > span {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.navigation{
    position: absolute;
    top: 10px;
    left: 0;
}

.navigation > * {
    transition: 0.3s;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    background: #29798486;
    text-decoration: none !important;

}

.navigation > *:hover{
    transition: 0.3s;
    cursor: pointer;
    background: white;
    border: 2px solid white;
    color: #297984;
}

.user_logout{
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.user_logout > * {
    margin-right: 10px;
}

.user_logout > :last-child{
    transition: 0.3s;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid white;
    font-family: 'Roboto Condensed', sans-serif;
    background: transparent;
}

.user_logout > :last-child:hover {
    transition: 0.3s;
    cursor: pointer;
    background: white;
    border: 2px solid white;
    color: #205d65;
}

@media(max-width: 763px){
    .user_logout{
        display: none;
    }

    .logout_icon{
        display: block !important;
        position: absolute;
        right: 10px;
        top: 6px;
        font-size: 1.8em;
    }

    .logout_icon:hover{
        color: red;
    }
}

@media(max-width: 423px){
    .navigation > * {
        margin: 0px !important;
    }
}